/* ----- GENERAL PROPERTIES ----- */

* {
    box-sizing: border-box;
}

:root {
    --base--primary--color: #003C6B;
    --default--color: #FFFFFF;
    --brand--pink: #FF99BF;
    --brand--blue: #5CE1E6;
    --brand--yellow: #FFDE59;
    --base--secondary--color: #7AC9FA;
    --base--third--color: #156CAD;

    --font--xl: 3vw;
    --font--lg: 2.5vw;
    --font--md: 2.2vw;
    --font--sm: 2vw;
    --font--xs: 1.5vw;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base--primary--color);
    color: var(--default--color);
    font-size: var(--font--xs);
}

/* ----- HEADINGS ----- */

h1 {
    font-size: var(--font--xl);
}

h2 {
    font-size: var(--font--lg);
    color: var(--brand--pink);
}

h3 {
    font-size: var(--font--md);
}

h4 {
    font-size: var(--font--sm);
}

/* ----- BUTTONS ----- */

button {
    min-width: max-content;
}

.btn {
    font-size: min(2vw, 20px);
}

/* ----- FORM COMPONENTS ----- */

select {
    color: var(--base--primary--color);
    border-color: var(--base--primary--color);
    height: 4vw;
    border-radius: 7px;
    min-width: 100%;
}

label {
    color: var(--base--primary--color);
    font-size: max(16px, 1vw);
    font-weight: 600;
    width: max(80%, 50px)
}

input {
    border-radius: 7px;
    border: 1px solid var(--base--primary--color);
}

/* ----- FOOTER ----- */

footer {
    color: var(--base--primary--color);
}