/* ----- GENERAL PROPERTIES ----- */

* {
    box-sizing: border-box;
}

:root {
    --base--primary--color: #04182d;
    --default--color: #FFFFFF;
    --brand--pink: #FF99BF;
    --brand--blue: #5CE1E6;
    --brand--yellow: #FFDE59;
    --base--secondary--color: #003C6B;
    --base--third--color: #156CAD;

    --font--xl: 40px;
    --font--lg: 32px;
    --font--md: 24px;
    --font--sm: 16px;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base--primary--color);
    color: var(--default--color);
    font-size: var(--font--sm);
}

/* ----- HEADINGS ----- */

h1 {
    font-size: var(--font--xl);
}

h2 {
    font-size: var(--font--lg);
    color: var(--brand--pink);
}

h3 {
    font-size: var(--font--md);
}

h4 {
    font-size: var(--font--sm);
}

a {
    font-size: var(--font--sm);
}

/* ----- BUTTONS ----- */

button {
    min-width: max-content;
}

.btn {
    font-size: var(--font--sm);
}

/* ----- FORM COMPONENTS ----- */

select {
    color: var(--base--primary--color);
    border-color: var(--base--primary--color);
    border-radius: 7px;
    min-width: 100%;
    font-size: var(--font--sm);
}

option {
    font-size: var(--font--sm);
}

label {
    color: var(--base--primary--color);
    font-size: var(--font--sm);
    font-weight: 600;
    width: max(100%, 100px)
}

input {
    width: 100%;
    border-radius: 7px;
    border: 1px solid var(--base--primary--color);
}

/* ----- FOOTER ----- */

footer {
    color: var(--base--primary--color);
}