.company {
  color: var(--base--primary--color);
  background-color: var(--base--primary--color);
}

.sidebar {
  height: 100vh;
}

.conditional-render {
  height: 75vh;
  overflow-y: scroll;
  width: 70vw;
}
