.btn {
    margin: 0;
}

.section-one {
    height: 100vh;
    background-color: var(--base--primary--color);

}

.section-one h1 {
    color: var(--default--color);
}

.section-one img {
    width: max(40vw,1vw);
}

.section-two {
    background-color: var(--default--color);
    height: 100vh;

}

.company {
    background-color: var(--default--color);
}

.company-heading {
    color: var(--base--primary--color);
}

.guest img {
    width: max(25vw,1vw);
}


